@import "grid";
@import "button";

/* Global */
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html, body { height: 100%; }
a { color: inherit; text-decoration: none; }

/* Image background */
html {
  background: url("/images/bg.jpg") no-repeat center bottom fixed;
  background-size: cover;
}

/* Fade in the body when everything has loaded */
body {
  opacity: 1;
  transition: opacity 2s;
}

.wf-loading body {
  opacity: 0;
  transition: none;
}

body {
  display: table;
  width: 100%;

  color: white;

  font-family: "source-sans-pro";
}

[role='banner'] { color: black; }
[role='main'] { margin-top: 5em; }

.monogram {
  h1 {
    margin: 0;
    font-family: "brandon-grotesque";
    line-height: .9;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: .1em;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .2);
  }
}

.monogram, .event-details { display: inline-block; vertical-align: middle; }

.event-details {
  font-weight: 900;
  font-style: italic;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .2);
}

.home .monogram { margin-top: 6em; }
.home .event-info {
  margin-top: 3em;
  color: black;

  .dates { display: block; }

  h1 { font-size: 6.5em; }

  .event-details {
    margin-top: .5em;
    margin-left: 1em;

    font-size: 2.1em;
  }

  .register { float: left; margin-top: 2em; font-size: 2em; }
  .sponsors {
    color: white; margin-top: 2em;
    a {
      opacity: .85; line-height: 70px; transition: .25s;
      &:hover { opacity: 1; }
      img { vertical-align: middle; }
    }
    a + a { margin-left: 1em; }
    img.rea { width: 17em; }
    img.envato { width: 10em; padding-bottom: 10px; }
  }
}

.event-info[role='banner'] {
  position: relative;
  overflow: hidden;
  margin: 2em auto;

  .monogram h1 { font-size: 2.6em; margin-right: .7em; }

  .monogram h1, .event-details { display: inline-block; }
  .icon { position: absolute; top: 0; right: 0; }
}

/* Form */

.ticket-info {
  float: right;
  margin-bottom: .5em;

  .price { margin: 0; line-height: 1; font-size: 2em; font-weight: 700;  }
  .price-buys { font-size: .8em; }
}
form { padding: 2em 1em .7em 1em; background: black; border-radius: 3px; }

form, fieldset, input, textarea, .register-button { border-radius: 3px; }

form {
  h1, h2 { margin-bottom: .3em; line-height: 1; }
  fieldset + h2 { margin-top: 2em; }
  h2 + p { margin-top: 0; }
  .registration { background: black; }
}

fieldset {
  margin: 0 0 1em 0;
  padding: .7em 1em;
  clear: both;
  border: none;
  background: #5B5B5B;
}

label {
  float: left;
  width: 30%;
  padding: .2em 1em .2em .2em;
  font-weight: bold;
}

input, textarea {
  float: left;
  width: 70%;
  padding: .2em;
  border: 0;
  color: white;
  font-weight: bold;
  background: rgba(255, 255, 255, .1);
  transition: all .25s;
  outline: 0;

  &:focus { background: rgba(255, 255, 255, .2); }
  &:disabled { background: transparent; }
}

select,
input[type='radio'] {
  width: auto;
  margin-top: .4em;
}

.register-button { @extend .button; font-size: 1.5em; background: #5B5B5B; }

input[type="radio"], input[type="radio"] + label { display: inline; }
input[type="radio"] + label { margin-left: .5em; }

.t-shirt .size { display: none; width: auto; margin-left: 5%; }
.t-shirt .tee { clear: both; }

#entrant_tee_cut_male:checked ~ label[for="entrant_tee_size_male"],
#entrant_tee_cut_male:checked ~ #entrant_tee_size_male { display: block; }

#entrant_tee_cut_female:checked ~ label[for="entrant_tee_size_female"],
#entrant_tee_cut_female:checked ~ #entrant_tee_size_female { display: block; }

.errors { color: #fee; margin: 1em 0; }

.registration-agreement { text-align: right; float: left; }
.register-button { float: right; }


footer[role='contentinfo'] { display: table-footer-group; }

.sponsor {
  display: block;
  padding: 1em 0 2em;
  text-decoration: none;
  &.pin {
    text-align: center;
    color: #ccc;
    font-size: .9em;
    a {
      opacity: .6;
      transition: opacity .25s;
      &:hover { opacity: 1; }
      img { vertical-align: middle; padding-left: .2em; padding-bottom: .1em; }
    }
  }
}
.twitter {
  position: absolute;
  right: 0;
  top: 1em;
  opacity: .6;
  transition: opacity .25s; 
  &:hover { opacity: 1; }
}

