<%
  @page_class = "home"
  @prerender = "https://secure.ruby.org.au/register"
%>

<div class="event-info grid">
  <div class="monogram">
    <h1>Rails<br> camp</h1>

    <img class="icon" src="images/icons.svg" alt="Ruby + Tent + Refreshing juice">
  </div>

  <div class="event-details">
    <div class="event-name">
      <span class="number">XIII</span>
      <span class="location">Melbourne</span>
    </div>

    <time class="dates">June 21 — 24</time>
  </div>

  <a class="button register" href="register">Register</a>
</div>

<footer role="contentinfo">
  <div class="grid">
    <a href="mailto:ben.schwarz@gmail.com?subject=Railscamp sponsorship" class="sponsor">Become a sponsor</a>
    <a href="//twitter.com/railscamp_au" class="twitter"><img class="icon" src="images/twitter.svg" alt="The Bird"></a>
  </div>
</footer>
