<%
  @page_class = "register"
  @page_title = "Register"
%>

<%= partial :_header_banner %>

<section class="grid" role="main">
  <h1>Registrations Are Now Closed</h1>
  <p>If you’ve entered the ballot you’ll shortly receive an email letting you know.</p>
</section>
