<%
  @page_class = "register"
  @page_title = "Register"
%>

<style>
  form { text-align: left; max-width: 500px; margin: 0 auto; }
  fieldset { margin: 0; padding: 0; border: none; }
  label, input, textarea, div { display: block; }
  label { margin-bottom: 1em; }
  div.radio label, div.radio input { display: inline; }
</style>

<h1>Register</h1>

<p>Here's a big explanation of the ballot registration process.</p>

<form method="post" autocomplete>
  <fieldset>
    <h2>You</h2>
    <label>Name<input required autocompletetype="name"></label>
    <label>Email<input type="email" required autocompletetype="email"></label>
    <label>Dietary or other requirements<textarea></textarea></label>
  </fieldset>
  <fieldset>
    <h2>Your Tee</h2>
    <div class="radio">
      Cut
      <label><input name="tee-cut" type="radio"> Guy</label>
      <label><input name="tee-cut" type="radio"> Girl</label>
    </div>
    <label>Size<select><option>XS</option><option>S</option><option>M</option><option selected>L</option><option>XL</option><option>2XL</option></select></label>
  </fieldset>
  <fieldset>
    <h2>Payment</h2>
    <p>Payment of $123 must be by credit card, but will be only be charged if you win the ballot. You’ll receive an email letting you know if you got a ticket, along with a receipt for your purchase.</p>
    <label>Name on card<input required autocompletetype="cc-name" placeholder="Name of card holder"></label>
    <label>Credit card number<input type="text" autocompletetype="cc-number" placeholder="4242424242424242" required></label>
    <label>Expiry<input type="text" autocompletetype="cc-expiry" placeholder="01/2020" required></label>
    <label>CVC<input type="text" autocompletetype="cc-csc" placeholder="123" required autocomplete="off"></label>
    <label>Address<input required autocompletetype="street-address"></label>
    <label>City<input required autocompletetype="city"></label>
    <label>Postcode<input required autocompletetype="postal-code"></label>
    <label>State<input required autocompletetype="state"></label>
    <label>Country<input required autocompletetype="country-name"></label>
  </fieldset>
  <fieldset>
    <button>Register</button>
  </fieldset>
</form>

<p>Payments generously handled by <a href="https://pin.net.au/">Pin Payments</a></p>
