<style>
  fieldset { margin: 0; padding: 0; border: none; }
  label, input, textarea, div { display: block; }
  label { margin-bottom: 1em; }
</style>

<h1>Register</h1>

<p>Here's a big explanation of the ballot registration process.</p>

<form method="post" action="">
  <fieldset>
    <h2>Attendee</h2>
    <label>Name<input></label>
    <label>Email<input></label>
    <label>Dietary or other requirements<textarea></textarea></label>
  </fieldset>
  <fieldset>
    <h2>Payment</h2>
    <label>Name<input></label>
    <label>Number<input></label>
    <label>Expiry<div><select><option></option></select><select><option></option></select></div></label>
    <label>CVC<input></label>
    <label>Address<input></label>
    <label>City<input></label>
    <label>State<input></label>
    <label>State<input></label>
    <label>Postal/Zip<input></label>
  </fieldset>
  <fieldset>
    <button>Register</button>
  </fieldset>
</form>

<p>Payments generously handled by <a href="https://pin.net.au/">Pin Payments</a></p>
