<%
  @page_class = "thanks"
  @page_title = "You’re in the draw!"
%>

<%= partial :_header_banner %>

<div class="grid" role="main">
  <h1>You’re in the draw</h1>
  <p>We'll let you know if you've been randomly selected by emailing you next week.</p>
  <p>Tell the world!</p>

  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://melb13.railscamps.org" data-via="railscamp_au" data-size="large" data-count="none">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
